.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35rem;
  position: relative;
  .slide {
    position: absolute;
    height: 35rem;
    display: flex;
    width: 100%;
    height: 80vh;
    &-bg {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        // background-image: linear-gradient(
        //   90deg,
        //   rgb(220, 129, 25) 0%,
        //   rgb(169, 176, 35) 2%,
        //   rgba(192, 36, 36, 0) 30%
        // );
      }
      &-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &-pane {
      position: absolute;
      width: 45%;
      top: 15rem;
      left: 10rem;
      .name {
        font-size: 2.8rem;
      }
      .meta {
        font-size: 1.4rem;
        color: #999;
        .info {
          > span {
            &:not(:last-child)::after {
              content: '|';
              margin-right: 9px;
              margin-left: 9px;
            }
          }
        }
      }
    }
  }
}
